---
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---


<BaseLayout pageTitle="Get in touch">
		
		<main class="m-auto max-w-4xl md:px-20 p-8">
			<Header/>
			<ContactSection/>
			<Footer/>
		</main>
</BaseLayout>