---
import {Image} from '@astrojs/image/components';

---

<section class="flex flex-col md:grid md:grid-cols-3 ">
    <Image  class="rounded-full md:col-start-3 md:col-end-4" src="/images/personal_image.jpg" height={400} width={400} aspectRatio="16:9" />
    <div class="md:row-start-1 md:col-start-1 md:col-end-3">
        <h1 class="font-roboto font-bold text-3xl flex-grow-8 text-white text-center" >
            José Rafael García Fernández
        </h1>
        <p class="font-roboto font-normal text-white m-5 text-lg">
            Hi! Welcome to my little spot on the internet.I am an aspiring full stack web developer.
            I am civil engineer by profession but I fell in love with the tech industry in my college years.Despite a love 
            developing from both Frontend and Backend I fill more comfortable with Backend tecnologies which 
            I'm learning like Django,Flask and Laravel.
        </p>
    </div>
    

</section>

