---
---
<nav class="flex flex-col gap-5 md:flex md:flex-row md:justify-between text-4xl md:gap-10 justify-center items-center w-full">
<button class=" md:hidden cursor-pointer " id="hamburger-button">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      
</button>   
        <a class="hidden transition-all ease-in  md:inline-block w-full text-center font-roboto font-normal hover:text-orange-600" href="/">Home</a>
        <a class="hidden transition-all ease-in  md:inline-block w-full text-center font-roboto font-normal  hover:text-orange-600" href="/about">About</a>
        <a class="hidden  transition-all ease-in  md:inline-block w-full text-center font-roboto font-norma  hover:text-orange-600" href="/projects">Projects</a>     
</nav>