<section class="flex flex-col gap-5">
    
    <div>
        <h1 class="font-roboto font-bold text-3xl mt-10 flex-grow-8 text-white text-center" > 
           Projects I'm currently working on
        </h1>
        <p class="font-roboto font-normal text-white m-5 text-lg">
            Besides my portfolio projects on GitHub.I'm only actively working on the <span class="text-orange-600">telepay-java SDK</span>
            open source project that would bring a easy to use library to Java programmers to connect and handle the  <span class="text-orange-600">telepay.cash</span>
            site Restful API.I hope in the next months to increase the list of projects.
        </p>
        <p class="font-roboto font-normal text-white m-5 text-lg">
            You can check and contribute to the project. <a class="text-orange-600" href="https://github.com/TelePay-cash/telepay-java">Here</a>
        </p>
       

    </div>
    
</section>