---


---

<section class="flex flex-col gap-5">
    
    <div>
        <h1 class="font-roboto font-bold text-3xl mt-10 flex-grow-8 text-white text-center" > 
            A little about me
        </h1>
        <p class="font-roboto font-normal text-white m-5 text-lg">
            I'm José Rafael García(my friends call me Rafa).I'm currently living in Mexico but I'm from Cuba.
            I am an aspiring programmer specialized in Web Development(Backend heavy).I'm always trying new things 
            and tools like this page developed in Astro. While working on projects I usually use 
            Laravel or Django with their currents ORMs for the management of the databases like Eloquent and the built-in Django ORM.
            For the Frontend I usually use Vue and some React and for CSS I use frameworks like Tailwind CSS.
        </p>
        <p class="font-roboto font-normal text-white m-5 text-lg">
            My hobies are reading &#128214; , videogames &#127918;, and all the things related to the tech world and programming
            like algorithms and optimization problems
        </p>

    </div>
    

</section>

